{
.appVersion = "3260";
.formatVersion = 3;
axes = (
{
name = "Optical size";
tag = opsz;
},
{
name = Weight;
tag = wght;
}
);
classes = (
{
code = "zero
one
two
three
four
five
six
seven
eight
nine
zero.slash
one.ss01
three.1
four.ss01
six.ss01
nine.ss01
zero.tf
one.tf
two.tf
three.tf
four.tf
five.tf
six.tf
seven.tf
eight.tf
nine.tf
zero.tf.slash
one.tf.ss01
three.1.tf
four.tf.ss01
six.tf.ss01
nine.tf.ss01
";
name = Numeral;
},
{
code = "space
nbspace
narrownbspace
mediumspace-math
enspace
emspace
thirdemspace
quarteremspace
sixthemspace
figurespace
punctuationspace
thinspace
hairspace
zerowidthspace
";
name = Whitespace;
}
);
customParameters = (
{
name = openTypeHeadFlags;
value = (
0,
1,
3,
4
);
},
{
name = codePageRanges;
value = (
"1252",
"1250",
"1251",
"1253",
"1254",
"1257",
"1258",
"949",
"932",
"bit 29"
);
},
{
name = openTypeHeadLowestRecPPEM;
value = 6;
},
{
name = fsType;
value = (
);
},
{
name = "Use Typo Metrics";
value = 1;
},
{
name = unicodeRanges;
value = (
0,
1,
2,
3,
4,
5,
6,
7,
8,
9,
28,
29,
30,
31,
32,
33,
34,
35,
36,
37,
38,
44,
45,
46,
47,
48,
49,
50,
56,
59,
61
);
}
);
date = "2025-05-22 12:00:00 +0000";
familyName = "Inter CJK";
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;

languagesystem latn dflt;
languagesystem latn ROM;
languagesystem latn MOL;
languagesystem latn CAT;

languagesystem cyrl dflt;
languagesystem grek dflt;

languagesystem hang dflt;
languagesystem kana dflt;
languagesystem hani dflt;
";
name = Languagesystems;
},
{
code = "@CASE_DELIM_LL = [@CASE_DELIM_L @CASE_DELIM_R];
@CASE_DELIM_RR = [@CASE_DELIM_L_R @CASE_DELIM_R_R];";
name = Groupclasses;
}
);
features = (
{
automatic = 1;
code = "include(features/ccmp.fea);
";
tag = ccmp;
},
{
code = "include(features/frac.fea);
";
tag = frac;
},
{
code = "include(features/sups.fea);
";
tag = sups;
},
{
code = "include(features/subs.fea);
";
tag = subs;
},
{
code = "include(features/calt.fea);
";
tag = calt;
},
{
code = "include(features/dlig.fea);
";
tag = dlig;
},
{
code = "include(features/case.fea);
";
tag = case;
},
{
code = "feature tnum {
sub @Numeral by @Numeral.tf;
} tnum;
";
tag = tnum;
},
{
code = "include(features/zero.fea);";
tag = zero;
},
{
code = "include(features/cpsp.fea);";
tag = cpsp;
},
{
code = "include(features/ss01.fea);
";
tag = ss01;
name = "Straight-sided six and nine";
},
{
code = "include(features/ss02.fea);
";
tag = ss02;
name = "Open four";
},
{
code = "include(features/ss03.fea);
";
tag = ss03;
name = "Centered colon";
},
{
code = "include(features/ss05.fea);
";
tag = ss05;
name = "Korean localization";
},
{
code = "include(features/ss06.fea);
";
tag = ss06;
name = "Disambiguation";
},
{
code = "include(features/ss07.fea);
";
tag = ss07;
name = "Single-storey a";
},
{
code = "include(features/ss08.fea);
";
tag = ss08;
name = "Straight three";
},
{
code = "include(features/cv01-one.fea);
include(features/cv02-four.fea);
include(features/cv03-six.fea);
include(features/cv04-nine.fea);
include(features/cv05-l-tail.fea);
include(features/cv06-u.fea);
include(features/cv07-germandbls.fea);
include(features/cv08-i-serif.fea);
include(features/cv09-three.fea);
include(features/cv10-g-spur.fea);
include(features/cv11-single-storey-a.fea);
include(features/cv12-compact-f.fea);
include(features/cv13-compact-t.fea);
include(features/cv14-germandbls.fea);
";
tag = cv99;
}
);
fontMaster = (
{
customParameters = (
{
name = typoAscender;
value = 2023;
},
{
name = typoDescender;
value = -532;
},
{
name = typoLineGap;
value = 0;
},
{
name = winAscent;
value = 2269;
},
{
name = winDescent;
value = 660;
},
{
name = hheaAscender;
value = 2023;
},
{
name = hheaDescender;
value = -532;
},
{
name = hheaLineGap;
value = 0;
},
{
name = postscriptSlantAngle;
value = 0;
}
);
ascender = 1750;
capHeight = 1490;
descender = -500;
id = "master-text-regular";
name = "Text Regular";
xHeight = 1118;
axisValues = (14, 400);
},
{
customParameters = (
{
name = postscriptSlantAngle;
value = 0;
}
);
ascender = 1750;
capHeight = 1490;
descender = -500;
id = "master-text-bold";
name = "Text Bold";
xHeight = 1118;
axisValues = (14, 900);
},
{
customParameters = (
{
name = postscriptSlantAngle;
value = 0;
}
);
ascender = 1750;
capHeight = 1490;
descender = -500;
id = "master-display-regular";
name = "Display Regular";
xHeight = 1118;
axisValues = (32, 400);
},
{
customParameters = (
{
name = postscriptSlantAngle;
value = 0;
}
);
ascender = 1750;
capHeight = 1490;
descender = -500;
id = "master-display-bold";
name = "Display Bold";
xHeight = 1118;
axisValues = (32, 900);
}
);
instances = (
{
interpolationWeight = 100;
name = "Inter CJK Thin";
linkStyle = "";
customParameters = (
{
name = postScriptFontName;
value = "InterCJK-Thin";
}
);
axisValues = (14, 100);
},
{
interpolationWeight = 200;
name = "Inter CJK ExtraLight";
customParameters = (
{
name = postScriptFontName;
value = "InterCJK-ExtraLight";
}
);
axisValues = (14, 200);
},
{
interpolationWeight = 300;
name = "Inter CJK Light";
customParameters = (
{
name = postScriptFontName;
value = "InterCJK-Light";
}
);
axisValues = (14, 300);
},
{
interpolationWeight = 400;
name = "Inter CJK Regular";
linkStyle = Bold;
customParameters = (
{
name = postScriptFontName;
value = "InterCJK-Regular";
}
);
axisValues = (14, 400);
},
{
interpolationWeight = 500;
name = "Inter CJK Medium";
customParameters = (
{
name = postScriptFontName;
value = "InterCJK-Medium";
}
);
axisValues = (14, 500);
},
{
interpolationWeight = 600;
name = "Inter CJK SemiBold";
customParameters = (
{
name = postScriptFontName;
value = "InterCJK-SemiBold";
}
);
axisValues = (14, 600);
},
{
interpolationWeight = 700;
name = "Inter CJK Bold";
isBold = 1;
customParameters = (
{
name = postScriptFontName;
value = "InterCJK-Bold";
}
);
axisValues = (14, 700);
},
{
interpolationWeight = 800;
name = "Inter CJK ExtraBold";
customParameters = (
{
name = postScriptFontName;
value = "InterCJK-ExtraBold";
}
);
axisValues = (14, 800);
},
{
interpolationWeight = 900;
name = "Inter CJK Black";
customParameters = (
{
name = postScriptFontName;
value = "InterCJK-Black";
}
);
axisValues = (14, 900);
},
{
interpolationWeight = 100;
name = "Inter CJK Display Thin";
familyName = "Inter CJK Display";
customParameters = (
{
name = postScriptFontName;
value = "InterCJKDisplay-Thin";
}
);
axisValues = (32, 100);
},
{
interpolationWeight = 200;
name = "Inter CJK Display ExtraLight";
familyName = "Inter CJK Display";
customParameters = (
{
name = postScriptFontName;
value = "InterCJKDisplay-ExtraLight";
}
);
axisValues = (32, 200);
},
{
interpolationWeight = 300;
name = "Inter CJK Display Light";
familyName = "Inter CJK Display";
customParameters = (
{
name = postScriptFontName;
value = "InterCJKDisplay-Light";
}
);
axisValues = (32, 300);
},
{
interpolationWeight = 400;
name = "Inter CJK Display Regular";
familyName = "Inter CJK Display";
linkStyle = Bold;
customParameters = (
{
name = postScriptFontName;
value = "InterCJKDisplay-Regular";
}
);
axisValues = (32, 400);
},
{
interpolationWeight = 500;
name = "Inter CJK Display Medium";
familyName = "Inter CJK Display";
customParameters = (
{
name = postScriptFontName;
value = "InterCJKDisplay-Medium";
}
);
axisValues = (32, 500);
},
{
interpolationWeight = 600;
name = "Inter CJK Display SemiBold";
familyName = "Inter CJK Display";
customParameters = (
{
name = postScriptFontName;
value = "InterCJKDisplay-SemiBold";
}
);
axisValues = (32, 600);
},
{
interpolationWeight = 700;
name = "Inter CJK Display Bold";
familyName = "Inter CJK Display";
isBold = 1;
customParameters = (
{
name = postScriptFontName;
value = "InterCJKDisplay-Bold";
}
);
axisValues = (32, 700);
},
{
interpolationWeight = 800;
name = "Inter CJK Display ExtraBold";
familyName = "Inter CJK Display";
customParameters = (
{
name = postScriptFontName;
value = "InterCJKDisplay-ExtraBold";
}
);
axisValues = (32, 800);
},
{
interpolationWeight = 900;
name = "Inter CJK Display Black";
familyName = "Inter CJK Display";
customParameters = (
{
name = postScriptFontName;
value = "InterCJKDisplay-Black";
}
);
axisValues = (32, 900);
}
);
unitsPerEm = 2048;
versionMajor = 1;
versionMinor = 0;
}
